<?xml version="1.0" encoding="UTF-8"?>

<widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        xmlns:android = "http://schemas.android.com/apk/res/android"
        id          = "edu.uab.business.studentapp"
        versionCode = "1" 
        version     = "0.0.2" >

    <!-- versionCode is optional and Android only -->

    <name>Plugin Demonstration</name>

    <description>
        Plugin Demonstration 
    </description>

    <author>
        Julio C. Rivera 
    </author>
    <config-file platform="android" parent="/manifest" mode="merge">
        <application android:debuggable="true"/>
    </config-file>
    
    
    
    <preference name="phonegap-version" value="cli-6.5.0" />
    <plugin name="cordova-plugin-contacts" source="npm" />
    <plugin name="cordova-plugin-camera" source="npm" />
    <access origin="*" />
    
</widget>
